/* popup newsletter */
#fancybox-close {
	height: 13px!important;
	width: 13px!important;
	top: 9px!important;
	right: -32px!important
}
#popup-newsletter .form-subscribe-header label {
	color: #4f4f4f;
	font-size: 28px;
	font-weight: 600;
	line-height: 32px;
	margin: 0 0 20px;
	padding: 0px;
	text-transform: uppercase;
}
#popup-newsletter .form-subscribe-header {
	position: relative
}
#popup-newsletter .popup-block-content .sub-text {
	font-size: 16px;
	font-style: italic;
	line-height: 30px;
	color: #7f7f7f;
	margin: 0;
	text-align: center;
}
#popup-newsletter .popup-block-content .sub-text strong {
	font-size: 26px;
	color: #ff3366;
	font-style: normal;
}
#popup-newsletter .popup-block-content h3 {
	font-size: 16px;
	text-transform: uppercase;
	color: #333;
	text-align: left;
	font-weight: 500;
}
#popup-newsletter .subscribe-bottom {
	display: block;
	margin: 25px 0px 0;
	padding: 0px;
	color: #9f9f9f;
	font-size: 13px;
	text-align: center;
	font-style: italic;
}
#popup-newsletter .subscribe-bottom input {
	margin: 0 5px 1px 0
}
#popup-newsletter .popup-block-content .input-box {
	width: 100%;
}
#popup-newsletter .popup-block-content input.input-text {
	border: 1px solid #ddd;
	color: #7f7f7f;
	height: 42px;
	line-height: 30px;
	margin-left: 0;
	margin-top: 25px;
	padding: 0px 12px;
	width: 58%;
	/* float: left; */
	font-size: 13px;
	border-radius: 50px 0 0 50px;
}
#popup-newsletter .popup-block-content .actions {
	margin: 30px 0 0 0px;
	float: left;
	vertical-align: top;
}
#popup-newsletter .popup-block-content button.button span {
	color: #fff;
	text-transform: uppercase;
}
#popup-newsletter .popup-block-content button.button {
	border: 1px solid #ff3366;
	background-color: #ff3366;
	height: 42px;
	border-radius: 0 50px 50px 0;
	margin-left: -10px;
}
#popup-newsletter .popup-block-content button.button span span {
	padding: 0;
}
#popup-newsletter .popup-block-content button.button:hover {
	background-color: #222;
	border-color: #222;
	color: #ffffff;
}
#popup-newsletter .popup-block-content {
	margin: 0;
	padding: 30px 30px 30px 0px;
	text-align: left;
	/*background: url(../images/newletter-bg.jpg) no-repeat top right;*/
	height: 100%;
}
#popup-newsletter .social ul{ margin-top:10px;}
#popup-newsletter .popup-block-content .popup-right {
	width: 65%;
	float: right;
	text-align: center;
}
#popup-newsletter .popup-block-content .social-link {
	border: 0;
	padding-top: 30px;
	margin: 0;
	display: block;
}
#popup-newsletter .popup-block-content .social-link a {
	width: 37px;
	height: 37px;
	line-height: 40px;
	color: #fff;
	padding: 0;
	margin-right: 10px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
#popup-newsletter .social {
	display: inline-block;
	margin-top: 25px;
}
#popup-newsletter .social ul.inline-mode li a {
	border: 1px solid #fff;
	border-radius: 50px;
	color: #fff;
	font-size: 15px;
	height: 35px;
	line-height: 35px;
	width: 35px;
	display: inline-block;
	text-align: center
}
#popup-newsletter .social .fb a {
	background: #3C5B9B
}
#popup-newsletter .social .tw a {
	background: #359BED
}
#popup-newsletter .social .googleplus a {
	background: #E33729
}
#popup-newsletter .social .rss a {
	background: #FD9F13
}
#popup-newsletter .social .instagram a {
	background: #3f729b
}
#popup-newsletter .social .linkedin a {
	background: #027ba5
}
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}
.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}
.fancybox-skin {
	position: relative;
	background: #fff;
	color: #444;
	text-shadow: none;
}
.fancybox-opened {
	z-index: 10001;
}
.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer, .fancybox-inner {
	position: relative;
}
.fancybox-inner {
	overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}
.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}
.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}
.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}
#fancybox-loading, .fancybox-prev span, .fancybox-next span {
	background-image: url('../images/fancybox_sprite.png');
}
#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}
#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../images/fancybox_loading.html') center center no-repeat;
}
.fancybox-close {
	background-color: transparent;
	background-image: url("../images/close-button.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 30px;
	position: absolute;
	right: -22px;
	top: -32px;
	width: 30px;
	z-index: 8040;
}
.fancybox-close:hover {
	background-position: 0px 0px;
}
.product-view.product-quickview .container-quickview .product-img-box .more-views .bx-wrapper {
	margin-bottom: 0;
}
.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../images/blank.html'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}
.fancybox-prev {
	left: 0;
}
.fancybox-next {
	right: 0;
}
.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}
.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}
.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}
.fancybox-nav:hover span {
	visibility: visible;
}
.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}
/* Overlay helper */

.fancybox-lock {
	overflow: hidden !important;
	width: auto;
}
.fancybox-lock body {
	overflow: hidden !important;
}
.fancybox-lock-test {
	overflow-y: hidden !important;
}
.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 10000;
	background: url('../images/fancybox_overlay.png');
}
.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}
.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}
/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}
.fancybox-opened .fancybox-title {
	visibility: visible;
}
.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}
.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}
.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}
.fancybox-title-inside-wrap {
	padding-top: 10px;
}
.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}
@media (min-width:280px) and (max-width:479px) {
#popup-newsletter .popup-block-content {
	background: none;
	padding: 10px;
	width: 290px;
	height: 200px;
}
#popup-newsletter .popup-block-content .popup-right {
	width: 100%;
	float: left;
	text-align: center;
}
#popup-newsletter .form-subscribe-header label {
	font-size: 18px;
	line-height: normal;
}
}
 @media (min-width:480px) and (max-width:767px) {
#popup-newsletter .popup-block-content {
	background: none;
	padding: 10px;
	width: 450px;
	height: 300px;
}
#popup-newsletter .popup-block-content .popup-right {
	width: 100%;
	float: left;
	text-align: center;
}
#popup-newsletter .form-subscribe-header label {
	font-size: 22px;
	line-height: normal;
}
}
